[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/villageenergy/esp-idf.git
	branch = 6c9c253ed1_v3.3.2
[submodule "examples/wireless_debug/components/lcd/Adafruit-GFX-Library"]
	path = examples/wireless_debug/components/lcd/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
